body{
    background: url("/asset/image01.jpg");
    background-size: cover;
    background-position-y: 10px;
    font-family: 'SVN-Gotham';
}
#wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-login{
    max-width: 400px;
    background: rgba(28,61,93,80);
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
.form-heading{
    font-size: 25px;
    color: rgba(255, 255, 255);
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    flex-grow: 1;
}
.form-input::placeholder{
    color: white;
    margin-bottom: 20px;
}
#eye i{
    padding: 0px;
    cursor: pointer;
}
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px; 
    transition: 0.35 ease-in-out;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}
.form-submit:hover{
    /* border: 1px solid yellow; */
    background-color: white;
    color: black;
}
.form-group i{
    color: #fff;
    font-size: 14px;
    padding-right: 10px;
}
#creacc{
    background: transparent;
    color: white;
    width: 100%;
    border: 1px solid #f5f5f5;
    padding: 6px 10px;
    border-radius: 10px;
    margin-top: 15px;
}
#creacc:hover{
    background-color: white;
    color: black;
}